<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real API</title>
</head>

<script type="text/javascript">
    const head = document.getElementsByTagName('head')[0];
    const url = "public/mix-manifest.json";
    const request = new XMLHttpRequest();
    request.open("get", url); /*设置请求方法与路径*/
    request.send(null); /*不发送数据到服务器*/
    request.onload = function() { /*XHR对象获取到返回信息后执行*/
        if (request.status === 200) { /*返回状态为200，即为数据获取成功*/
            let json = JSON.parse(request.responseText);
            let script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'public' + json['/js/index.js'];
            head.appendChild(script);
            let link = document.createElement('link');
            link.href = 'public' + json['/css/style.css'];
            link.rel = 'stylesheet';
            link.type = 'text/css';
            head.appendChild(link);
        }
    }
</script>

<body>
<div id="app">
    <div class="UI">
        <div v-if="events.loadingBar" id="myProgress">
            <div id="myBar">
                <div class="loading_text">Loading assets: {{progressValue}}%</div>
            </div>
        </div>
        <div v-if="!events.loadingBar">
            <div v-if="!toggles.showResult">
                <button class="btn btn-light btn-block" @click="newAreaLightClick">Area Light</button>
                <input type="file" id="fileInput" @click="uploadItem" />

                <form class="Transform" v-if="toggles.transform">
                    <br>
                    <label class="label" for="Position">Position:</label>
                    <input class="label_input" type="number" id="px" name="x" :value="transform.position.x" @change="(e) => {transformUpdated(e, 'px')}">
                    <input class="label_input" type="number" id="py" name="y" :value="transform.position.y" @change="(e) => {transformUpdated(e, 'py')}">
                    <input class="label_input" type="number" id="pz" name="z" :value="transform.position.z" @change="(e) => {transformUpdated(e, 'pz')}">
                    <br>
                    <label class="label" for="Rotation">Rotation:</label>
                    <input class="label_input" type="number" id="rx" name="x" :value="transform.rotation.x" @change="(e) => {transformUpdated(e, 'rx')}">
                    <input class="label_input" type="number" id="ry" name="y" :value="transform.rotation.y" @change="(e) => {transformUpdated(e, 'ry')}">
                    <input class="label_input" type="number" id="rz" name="z" :value="transform.rotation.z" @change="(e) => {transformUpdated(e, 'rz')}">
                    <br>
                    <label class="label" for="Scale">Scale:</label>
                    <input class="label_input" type="number" id="sx" name="x" :value="transform.scale.x" @change="(e) => {transformUpdated(e, 'sx')}">
                    <input class="label_input" type="number" id="sy" name="y" :value="transform.scale.y" @change="(e) => {transformUpdated(e, 'sy')}">
                    <input class="label_input" type="number" id="sz" name="z" :value="transform.scale.z" @change="(e) => {transformUpdated(e, 'sz')}">
                    <br>
                    <input class="cnt_btn" type="button" value="Change" @click="transformClicked">
                    <br>
                </form>

                <form class="Login" v-if="!user.isLoggedIn && !toggles.info">
                    <br>
                    <label class="label" for="Username">Username:</label>
                    <input class="Login_input" type="text" id="un" name="x" :value="login.userName">
                    <br>
                    <label class="label" for="AppKey">AppKey:</label>
                    <input class="Login_input" type="password" id="ak" name="x" :value="login.appKey">
                    <br>
                    <label class="label" for="AppSecrets">AppSecrets:</label>
                    <input class="Login_input" type="password" id="as" name="x" :value="login.appSecret">
                    <br>
                    <label class="label" for="ProductName">ProductName:</label>
                    <input class="Login_input" type="text" id="lpn" name="x" :value="login.product.prodName">
                    <br>
                    <label class="label" for="ProductKey">ProductKey:</label>
                    <input class="Login_input" type="password" id="lpk" name="x" :value="login.product.prodKey">
                    <br>
                    <label class="label" for="InstanceID">InstanceID:</label>
                    <input class="Login_input" type="number" id="lpid" name="x" :value="login.product.insID">
                    <br>

                    <br>
                    <input class="cnt_btn" type="button" value="Login" @click="loginUpdate">
                    <label class="Login_input" id="render_info" v-if="render">{{render.info}}</label>
                    <br>
                </form>

                <button v-if="toggles.render" class="btn btn-light btn-block" @click="renderClicked">RENDER NOW</button>
                <input class="Info" v-if="render && toggles.info" :value="render.info"/>
            </div>
            <div class="section" id="render_jobs"></div>

            <div class="result" id="render_result">
                <img src="" id="render_img">
                <div v-if="toggles.showResult">
                    <button class="btn btn-light btn-block" @click="renderResultClicked">Show {{events.renderResult ? "Original" : "Rendered"}}</button>
                    <button class="btn btn-light btn-block" @click="renderResultCloseClicked">Close</button>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="canvas" id="canvas">-->
<!--        <canvas id="canvas" ref="canvas" :style="canvasBg"></canvas>-->
<!--    </div>-->
</div>
</body>
</html>
